.example-form {
    min-width: 150px;
    max-width: auto;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-half-width {
      width: 25%;
  }

  .form-text {
    position: absolute;
    left: 55%;
  }

  .form-module-align {
    position: absolute;
    left: 15px;
  }

  .button-form {
    margin-left: -78px;
  }

  .button-color {
    background-color: orange;
  }

  .padding-icon {
    margin-top: -5%;
  }

  .page-padding {
    padding-top: 2%;
    padding-bottom: 2%;
  }