<div class="page-padding">
    <!-- HEADER -->
    <div class="header-margin">
      <button mat-raised-button (click)="openCreateDialog()" color="accent">
        Rezeptvorlage erstellen
      </button>
    </div>
    <!-- DELETE NOCH EINFÜGEN!! -->
  
    <!-- CONTENT -->
    <div class="mat-elevation-z8">
      <div class="spaceBetweenFlex">
  
        <mat-form-field class="example-half-width searchbar-header" color="accent">
          <mat-label>Rezept suchen</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rezeptnamen eingeben">
        </mat-form-field>
  
        <mat-paginator color="accent" #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
      </div>
  
      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bezeichnung</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
  
        <!-- Edit Button Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="edit" (click)="openEditDialog(); getRowID(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Löschen</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="delete" (click)="getRowID(row); openDeleteDialog()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>