.header-center {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.button-center {
    justify-content: center;
}

.content-center {
    left: 15%;
    position: absolute;
}

.content-left-center { 
    left: 25%;
    position: absolute;
    font-weight: bold;
}